@inherits LayoutComponentBase

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <span class="fs-4">Blazor Webassembly</span>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <NavMenu />
        </ul>
    </header>

    @Body

</div>
